html, body { width: 100%; height: 100%; padding: 0; margin: 0; overflow: hidden }
#unity-container { position: fixed; inset: 0; width: 100%; height: 100%; overflow: hidden }
#unity-canvas { display: block; width: 100%; height: 100%; background: #ffffff }
#unity-loading-bar { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none }
#unity-logo { width: 160px; height: 160px; margin: auto; background: url('unity-logo-light.png'); background-size:contain }
#unity-progress-bar-empty { width: 182px; height: 14px; border-radius: 15px; background: url('progress-bar-empty-light.png')}
#unity-progress-bar-full { width: 0%; height: 14px; border-radius: 15px; background: url('progress-bar-full-light.png')}
#unity-footer { position: relative }
.unity-mobile #unity-footer { display: none }

